#Navbars {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  height: 30%;
  width: 30%;
  background-color: #8fc3bf;
  transition: all 1s ease;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  opacity: 95%;
  padding: 100px 0 0 10px;
  z-index: 2;
  border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 920px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #Navbars {
    display: flex;
    right: 0;
  }


  #NavbarWrapers li {
    list-style: none;
    padding: 10px 0;
    position: relative;
  }

  #NavbarWrapers li a {
    padding: 10px;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease;
  }

  #NavbarWrapers li a:hover,
  #NavbarWrapers li a.active {
    color: #088178;
  }
}

@media screen and (max-width: 420px) {
  #Navbars {
    
  height: 35%;
  width: 50%;
  }
}