.ForgotPasswordContainer {
  width: 100vw;
  height: 60vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ForgotPasswordBox {
  background-color: rgb(243, 223, 229);
  width: 25vw;
  height: 40vh;
  box-sizing: border-box;
  overflow: hidden;
}

.ForgotPasswordBox > h2 {
  text-align: center;
  font-size: 30px;
  margin: 15px 0 0 0;
  color: rgb(124, 119, 119);
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.forgotPasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.forgotPasswordForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.forgotPasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.forgotPasswordBtn {
  width: 100%;
  font-weight: 300;
  border-radius: 4px;
  background-color: #b3eae6;
  color: #088178;
  padding: 0.8vmax;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  transition: all 0.5s;
}

.forgotPasswordBtn:hover {
  background-color: #97c0bd;
  font-weight: 700;
}

@media screen and (max-width: 920px) {
  .ForgotPasswordContainer {
    width: 100%;
    height: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .ForgotPasswordBox {
    background-color: rgb(243, 223, 229);
    width: 80%;
  }

  .forgotPasswordForm {
    margin: 1vmax;
    padding: 2vmax;
  }

  .forgotPasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font-size: 15px;
  }

  .forgotPasswordForm > div > svg {
    font-size: 2.6vmax;
  }

  .forgotPasswordBtn {
    font-weight: 500;
    padding: 1.8vmax;
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .ForgotPasswordBox {
    width: 100%;
  }
}
